header {
  padding: 10px;
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark {
  color: white;
  background-color: black;
}

.light {
  color: black;
  background-color: gray;
}

img {
  width: 100px;
  height: 100px;
}